*, *::before, *::after{
    box-sizing: border-box;
}

body {
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano{
    display: flex;
}

.key{
    height: calc(var(--width)*4);
    width: var(--width);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.note-label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    user-select: none;
}

.white{
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
}

.white .note-label {
    color: #333;
}

.white.active {
    background-color: #CCC;
}

.black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 2;
}

.black .note-label {
    color: white;
}

.black.active {
    background-color: #333;
}

.black.active {
    background-color: #333;
}